@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#myChart {
	background-color: #202226;
	border-radius: 5px;
}

body {
	background-color: #292d32;
	color: white
}

h1 {
	font-family: "Roboto", san-serif;
	text-align: center;
}
